@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}

.headbar {
  min-height: 75px;
  background-color: #222222;
}

.headbar .menu {
  padding-top: 18px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 9px;
}

.headbar .menu .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  position: absolute;
  background-color: #F16D7F;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0%;
  top: 20.47%;
}

.headbar .menu .left-headbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headbar .menu .left-headbar .find-form {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headbar .menu .left-headbar .find-form .find-form_input {
  background-color: transparent;
  border: none;
}

.headbar .menu .left-headbar .find-form .find-form_input:focus {
  width: 150px;
  min-height: 20px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 2px solid white;
  background-color: white;
}

.headbar .menu .left-headbar .find-form label {
  margin: auto;
  margin-right: 16px;
}

.headbar .menu .left-headbar .logo {
  margin-right: 41px;
}

.headbar .menu .left-headbar .find-icon {
  fill: #E8E8E8;
}

.headbar .menu .left-headbar .find-icon:hover {
  fill: #f3819a;
}

.headbar .menu .left-headbar .find-icon:active {
  height: 22px;
  width: 22px;
}

.headbar .menu .right-headbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.headbar .menu .right-headbar .button-menu {
  margin-top: 4px;
  border: none;
  background-color: transparent;
  stroke: #E8E8E8;
  stroke-width: 2px;
}

.headbar .menu .right-headbar .button-menu :hover {
  stroke: #f3819a;
}

.headbar .menu .right-headbar .button-menu :active {
  stroke-width: 1px;
}

.headbar .menu .right-headbar .profile-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  height: 29px;
  width: 29px;
}

.headbar .menu .right-headbar .profile-button .profile-svg {
  margin: auto;
  fill: #E8E8E8;
}

.headbar .menu .right-headbar .profile-button :hover {
  fill: #f3819a;
}

.headbar .menu .right-headbar .profile-button :active {
  height: 27px;
  width: 27px;
}

.headbar .menu .right-headbar .basket-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  height: 29px;
  width: 32px;
}

.headbar .menu .right-headbar .basket-button .basket-svg {
  margin: auto;
  fill: #E8E8E8;
}

.headbar .menu .right-headbar .basket-button :hover {
  fill: #f3819a;
}

.headbar .menu .right-headbar .basket-button :active {
  height: 27px;
  width: 30px;
}

.headbar .menu .right-headbar li {
  margin-left: 33px;
}

.bccontent {
  height: 764px;
  background-color: #F1E4E6;
  margin-bottom: 65px;
}

.bccontent .scrolling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
}

.bccontent .scrolling .redline {
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
  margin-right: 16px;
}

.bccontent .scrolling .tagline {
  margin-top: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 101px;
}

.bccontent .scrolling .tagline .brand {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  text-transform: uppercase;
}

.bccontent .scrolling .luxerious {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.bccontent .scrolling .luxerious .fashion {
  color: #F16D7F;
}

.clothes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clothes .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 31.57895%;
  min-height: 260px;
  margin-bottom: 30px;
}

.clothes .women {
  background-image: url(img/women.jpg);
  background-size: cover;
}

.clothes .men {
  background-image: url(img/man.jpg);
}

.clothes .kids {
  background-image: url(img/kids.jpg);
}

.clothes p {
  margin: auto;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21, 6px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.clothes p span {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28, 8px;
  letter-spacing: 0em;
  text-align: center;
  color: #F16D7F;
}

.accessories {
  background-image: url(img/accesories.jpg);
  width: 100%;
  min-height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.LooksHead {
  margin-top: 96px;
}

.LooksHead .Fetered {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 6px;
}

.LooksHead p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
}

.looks {
  list-style: none;
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.looks .look {
  margin-bottom: 30px;
  background: #F8F8F8;
}

.looks .look .LookDescription {
  margin-left: 17px;
  margin-right: 17px;
  padding-bottom: 20px;
}

.looks .look .LookDescription .Ellery {
  margin-top: 25px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.looks .look .LookDescription .DisLook {
  max-width: 315px;
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  line-height: 17px;
  margin-top: 13px;
}

.looks .look .LookDescription .price {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin-top: 18px;
}

.looks .look .LookImg {
  position: relative;
}

.looks .look .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(58, 56, 56, 0.86);
  display: none;
}

.looks .look .img-wrap .cart {
  width: 138px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  text-align: center;
  background: none;
  border: 1px solid #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: white;
  fill: #E8E8E8;
}

.looks .look .img-wrap .cart:hover {
  background: #E8E8E8;
  color: rgba(58, 56, 56, 0.86);
  fill: rgba(58, 56, 56, 0.86);
}

.looks .look .img-wrap .cart:active {
  width: 134px;
  height: 39px;
}

.looks .look .LookImg:hover .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brows {
  text-transform: capitalize;
  border: 1px solid #FF6A6A;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  width: 211px;
  height: 47px;
  margin: 33px auto;
  background: 0;
}

.brows:hover {
  background: #F16D7F;
  color: white;
}

.brows:active {
  margin-top: 35px;
  width: 207px;
  height: 43px;
  margin-bottom: 35px;
}

.footer-page {
  background-color: #222224;
  margin-top: 62px;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 103px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages .adv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages .adv .lorry {
  width: 44.99px;
  margin-bottom: 28px;
}

.advantages .adv .per_cent {
  width: 39.99px;
  margin-bottom: 19px;
}

.advantages .adv .crown {
  width: 47.02px;
  margin-bottom: 25px;
}

.advantages .add {
  font-family: 'Lato', sans-serif;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;
  margin-bottom: 16px;
}

.advantages .adddspn {
  max-width: 360px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  margin-bottom: 104px;
}

.backservice {
  background: url(img/back.jpg);
  background-size: cover;
}

.backservice .backcolorservice {
  background-color: rgba(244, 244, 244, 0.7);
}

.backservice .service {
  padding-top: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 156px;
}

.backservice .service .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.backservice .service .info .girl {
  margin: 0 auto;
  margin-bottom: 30px;
}

.backservice .hsb {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.backservice .psb {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 32px;
}

.backservice .fieldbuton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.backservice .email {
  border: 0;
  background: #E1E1E1;
  width: 234px;
  padding-top: 7px;
  padding-bottom: 6px;
  border-radius: 23px 0 0 23px;
  padding-left: 22px;
}

.backservice .email::-webkit-input-placeholder {
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
}

.backservice .email:-ms-input-placeholder {
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #222224;
  opacity: 0.67;
}

.backservice .email::-ms-input-placeholder {
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #222224;
  opacity: 0.67;
}

.backservice .email::placeholder {
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
}

.backservice .bsub {
  text-transform: capitalize;
  height: 49px;
  width: 84px;
  padding-left: 8px;
  padding-right: 8px;
  border: 0;
  border-radius: 0 23px 23px 0;
  background: #F16D7F;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.backservice .stext {
  max-width: 360px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.backservice .stext .itp {
  font-style: italic;
}

.basemant {
  min-height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basemant .rights {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.basemant .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basemant li {
  list-style: none;
  margin-left: 7.29px;
}

.basemant .sicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  width: 32px;
  background: #FFFFFF;
}

.basemant .sicon img {
  margin: auto;
}

.basemant .sicon:hover {
  background: #F16D7F;
}

.head-bread-crambs {
  min-height: 148px;
  background: #F8F3F4;
}

.head-bread-crambs .head-bread-crambs_container {
  min-height: 148px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-bread-crambs .head-bread-crambs_container .new-arrivals {
  text-transform: uppercase;
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  line-height: 29px;
}

.head-bread-crambs .head-bread-crambs_container .bread-crambs_ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head-bread-crambs .head-bread-crambs_container .bread-crambs_ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.head-bread-crambs .head-bread-crambs_container .bread-crambs_ul li:not(:last-child) ::after {
  content: "/";
}
/*# sourceMappingURL=style.css.map */