@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
$cw: 1140px;

* {
    margin: 0;
    padding: 0;
}


.container {
    margin: 0 auto;
    max-width: $cw;
}

.headbar {
    min-height: 75px;
    background-color: #222222;
    position: relative;

    .drop-menu {
        list-style: none;
        position: absolute;
        right: -232px;
        top: 124%;
        width: 232px;
        min-height: 764px;
        box-sizing: border-box;
        padding-top: 37px;
        padding-bottom:37px;
        padding-left: 34px;
        padding-right: 34px;
        background: white;
        display: none;
        a {
            text-decoration: none;
        }

        .menu-title {
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: black;
            margin-bottom: 24px;
        }

        .menu-section {
            margin-bottom: 20px;

            .menu-section-title a {
                text-transform: uppercase;
                font-family: 'Lato', sans-serif;
                font-size: 14px;
                line-height: 17px;
                display: block;
                color: #F16D7F;
            }

            .menu-section-categories {
                list-style: none;
                margin-top: 12px;
                padding-left: 21.5px;

                .menu-section-category:not(:first-child) {
                    margin-top: 11px;
                }

                .menu-section-category a {
                    text-transform: capitalize;
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    color: #6F6E6E;

                }
            }
        }

        a:hover {
            text-decoration: underline;
        }
    }
.class-checkbox-menu:checked~.drop-menu{
display: inherit;
}
    .menu {
        padding-top: 18px;
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-right: 9px;

        .counter {
            display: flex;
            font-family: 'Lato', sans-serif;
            font-size: 12px;
            line-height: 14px;
            color: #FFFFFF;
            height: 19px;
            width: 19px;
            border-radius: 50%;
            position: absolute;
            background-color: #F16D7F;
            justify-content: center;
            align-items: center;
            right: 0%;
            top: 20.47%;
        }

        .left-headbar {
            display: flex;

            .find-form {
                margin: auto;
                display: flex;

                .find-form-input {
                    background-color: transparent;
                    border: none;
                }

                .find-form-input:focus {
                    width: 150px;
                    min-height: 20px;
                    transition: width 1s ease;
                    border: 2px solid white;
                    background-color: white;
                }

                label {
                    margin: auto;
                    margin-right: 16px;
                }
            }

            .logo {
                margin-right: 41px;
            }

            .find-icon {
                fill: #E8E8E8;

            }

            .find-icon:hover {
                fill: #f3819a;
            }

            .find-icon:active {
                height: 22px;
                width: 22px;
            }

        }

        .right-headbar {
            display: flex;
            list-style: none;

            .class-checkbox-menu {
                display: none;
            }

            .button-menu {
                margin-top: 4px;
                border: none;
                background-color: transparent;
                stroke: #E8E8E8;
                stroke-width: 2px;

                :hover {
                    stroke: #f3819a;
                }

                :active {
                    stroke-width: 1px;
                }
            }

            .profile-button {
                display: flex;
                background-color: transparent;
                border: none;
                height: 29px;
                width: 29px;

                .profile-svg {
                    margin: auto;
                    fill: #E8E8E8;
                }

                :hover {
                    fill: #f3819a;
                }

                :active {
                    height: 27px;
                    width: 27px;
                }
            }

            .basket-button {
                display: flex;
                background-color: transparent;
                border: none;
                height: 29px;
                width: 32px;

                .basket-svg {
                    margin: auto;
                    fill: #E8E8E8;
                }

                :hover {
                    fill: #f3819a;
                }

                :active {
                    height: 27px;
                    width: 30px;
                }

            }

            .right-headbar-icons {
                margin-left: 33px;
            }
        }
    }
}

.model-background {
    height: 764px;
    background-color: #F1E4E6;
    margin-bottom: 65px;

    .scrolling {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;

        .redline {
            width: 12px;
            height: 92px;
            background-color: #f16d7f;
            margin-right: 16px;
        }

        .tagline {
            margin-top: 290px;
            display: flex;
            margin-right: 101px;

            .brand {
                font-family: 'Lato', sans-serif;
                font-weight: 900;
                font-size: 48px;
                line-height: 58px;
                color: #222222;
                text-transform: uppercase;
            }

        }

        .luxerious {
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-size: 32px;
            font-weight: 700;
            line-height: 38px;
            letter-spacing: 0em;
            text-align: left;

            .fashion {
                color: #F16D7F;
            }
        }
    }


}

.clothes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    flex-wrap: wrap;

    .section {
        display: flex;
        width: 360px/1140px*100%;
        min-height: 260px;
        margin-bottom: 30px;
    }

    .women {
        background-image: url(img/women.jpg);
        background-size: cover;

    }

    .men {
        background-image: url(img/man.jpg);
    }

    .kids {
        background-image: url(img/kids.jpg);
    }

    p {
        margin: auto;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 21, 6px;
        letter-spacing: 0em;
        text-align: center;
        color: white;

        span {
            text-transform: uppercase;
            font-family: 'Lato', sans-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 28, 8px;
            letter-spacing: 0em;
            text-align: center;
            color: #F16D7F;
        }



    }

}

.accessories {
    background-image: url(img/accesories.jpg);
    width: 100%;
    min-height: 180px;
    display: flex;
}

.goods-header {
    margin-top: 96px;

    .fetured {
        font-family: 'Lato', sans-serif;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        text-align: center;
        margin-bottom: 6px;
    }

    p {
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 17px;
        color: #9F9F9F;
        text-align: center;
    }
}

.goods-list {
    list-style: none;
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .goods-item {
        margin-bottom: 30px;
        background: #F8F8F8;

        .goods-item-description {
            margin-left: 17px;
            margin-right: 17px;
            padding-bottom: 20px;

            .goods-item-title {
                margin-top: 25px;
                text-transform: uppercase;
                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                color: #000000;
            }

            .goods-item-description-plot {
                max-width: 315px;
                font-family: 'Lato',sans-serif;
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: #5D5D5D;
                line-height: 17px;
                margin-top: 13px;
            }

            .price {
                font-family: 'Lato', sans-serif;
                font-size: 16px;
                line-height: 19px;
                color: #F16D7F;
                margin-top: 18px;
            }

        }

        .goods-img {
            height: 420px;
            position: relative;
        }

        .goods-image-hover {
            border: 0;
            display: flex;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            position: absolute;
            background: rgba(58, 56, 56, 0.86);
            display: none;

            .cart {
                width: 138px;
                height: 43px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin: auto;
                text-align: center;
                background: none;
                border: 1px solid #FFFFFF;
                font-family: 'Lato', sans-serif;
                font-size: 14px;
                line-height: 17px;
                color: white;
                fill: #E8E8E8;
            }

            .cart:hover {
                background: #E8E8E8;
                color: rgba(58, 56, 56, 0.86);
                ;
                fill: rgba(58, 56, 56, 0.86);
            }

            .cart:active {
                width: 134px;
                height: 39px;
            }
        }

        .goods-img:hover .goods-image-hover {
            display: flex;
        }
    }


}

.brows {
    text-transform: capitalize;
    border: 1px solid #FF6A6A;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    width: 211px;
    height: 47px;
    margin: 33px auto;
    background: 0;
}

.brows:hover {
    background: #F16D7F;
    color: white;
}

.brows:active {
    margin-top: 35px;
    width: 207px;
    height: 43px;
    margin-bottom: 35px;

}

.footer-page {
    background-color: #222224;
    margin-top: 62px;
}

.advantages {
    display: flex;
    padding-top: 103px;
    justify-content: space-between;

    .advantage {
        display: flex;

        .lorry {
            width: 44.99px;
            margin-bottom: 28px;
        }

        .per-cent {
            width: 39.99px;
            margin-bottom: 19px;

        }

        .crown {
            width: 47.02px;
            margin-bottom: 25px;

        }

        flex-direction: column;
        align-items: center;
    }

    .add {

        font-family: 'Lato', sans-serif;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
        text-align: center;
        margin-bottom: 16px;
    }

    .adddspn {
        max-width: 360px;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
        margin-bottom: 104px;
    }
}

.background-service {
    background: url(img/back.jpg);
    background-size: cover;

    .background-service-light {
        background-color: rgba(244, 244, 244, 0.7);
    }

    .service {
        padding-top: 86px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 156px;

        .info {
            display: flex;
            flex-direction: column;

            .girl {
                margin: 0 auto;
                margin-bottom: 30px;
            }
        }
    }



    .hsb {
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 167.2%;
        text-align: center;
        color: #222224;

    }

    .psb {
        text-transform: uppercase;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 32px;
    }

    .fieldbuton {
        display: flex;

    }

    .email {
        border: 0;
        background: #E1E1E1;
        width: 234px;
        padding-top: 7px;
        padding-bottom: 6px;
        border-radius: 23px 0 0 23px;
        padding-left: 22px;
    }

    .email::placeholder {
        text-transform: capitalize;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: #222224;
        opacity: 0.67;
    }

    .bsub {
        text-transform: capitalize;
        height: 49px;
        width: 84px;
        padding-left: 8px;
        padding-right: 8px;
        border: 0;
        border-radius: 0 23px 23px 0;
        background: #F16D7F;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;

    }

    .stext {
        max-width: 360px;
        font-family: 'Lato', sans-serif;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;

        .itp {
            font-style: italic;
        }
    }
}

.footer-copyright-socials {
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .rights {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }

    .socials {
        display: flex;
    }

    li {
        list-style: none;
        margin-left: 7.29px;
    }

    .social-icon {
        display: flex;
        height: 32px;
        width: 32px;
        background: #FFFFFF;


        svg {
            margin: auto;
        }
    }

    .social-icon:hover {
        background: #F16D7F;
        fill: white;
    }

}

//*************каталог************

.head-bread-crambs {
    min-height: 148px;
    background: #F8F3F4;

    .head-bread-crambs_container {
        min-height: 148px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .new-arrivals {
            text-transform: uppercase;
            color: #F16D7F;
            font-family: 'Lato', sans-serif;
            font-size: 24px;
            line-height: 29px;
        }

        .bread-crambs_ul {
            list-style: none;
            display: flex;


            li {
                margin-left: 5px;

                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    font-family: Lato;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 17px;
                    color: #636363;
                }
            }

            li:not(:last-child) {

                ::after {
                    margin-left: 5px;
                    content: "/";
                }

            }

            .active-cramb a {
                font-family: 'Lato', sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                color: #F16D7F;
            }

        }
    }
}